.sucess_handler {
    position: relative;
    margin-top: 80px;
}

.sucess_subTit {
    text-align: left;
}

.success__avatar img {
    width: 50px;
    height: 50px;
}

.sucess__box {
    height: 399px;
    width: 331px;
    padding: 20px;
    text-align: center;
    color: #fff;
    border-radius: 35px;
    background: radial-gradient(50% 50% at 50% 50%, #345D86 0%, #1C344C 100%);
}
.success__Title{
    color: #FFF;
text-align: center;
font-family: 'Space Grotesk', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.success__Info{
color: #FFF;
text-align: center;
font-family: 'Red Hat Display', sans-serif;
font-size: 14.239px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.285px;
margin: 30px 0;
}
.success__Name{
    color: #FFF;
    font-family: 'Red Hat Display', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.success__Job{
    color: #B9B9B9;
    font-family: 'Red Hat Display', sans-serif;
font-size: 12.24px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 10px;
}


@media screen and (max-width: 991px) and (min-width: 0px) {
  .sucessHandler__slider .swiper-slide{
    width: calc(100%/1.1) !important;
    margin-right: 0 !important;
  }
  }
 